[submodule "etc/vim/bundle/fugitive"]
	path = etc/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "etc/vim/bundle/rails"]
	path = etc/vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "etc/vim/bundle/nerdtree"]
	path = etc/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "etc/vim/bundle/nerdcommenter"]
	path = etc/vim/bundle/nerdcommenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "etc/vim/bundle/snipmate"]
	path = etc/vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "etc/vim/bundle/haml"]
	path = etc/vim/bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "etc/vim/bundle/vividchalk"]
	path = etc/vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "etc/vim/bundle/textile"]
	path = etc/vim/bundle/textile
	url = https://github.com/timcharper/textile.vim.git
